<app-header></app-header>
<app-prof-menu></app-prof-menu>

<div class="container mx-auto mt-8">
  <div class="flex items-center mb-4">
    <label class="block text-gray-700 mr-4">
      <input type="radio" name="questionType" value="excel" class="mr-2" checked (change)="toggleQuestionType($event)">
      Télécharger un fichier Excel
    </label>
    <label class="block text-gray-700">
      <input type="radio" name="questionType" value="manual" class="mr-2" (change)="toggleQuestionType($event)">
      Ajouter les Questions Manuellement
    </label>
  </div>

  <div id="excelUploadSection" class="border p-4 rounded-lg shadow-md mb-4">
    <label class="block mb-2 font-bold">Télécharger un fichier Excel</label>
    <input type="file" (change)="onFileSelected($event)" class="border-gray-300 rounded-md p-2 w-full mb-2">
    <button (click)="uploadQuestions()" class="py-2 px-4 bg-green-500 text-white rounded-md shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">Télécharger</button>
    <p class="text-red-500 mt-3" *ngIf="uploadStatus">{{ uploadStatus }}</p>
  </div>

  <div id="manualEntrySection" class="border p-4 rounded-lg shadow-md hidden">
    <label class="block mb-2 font-bold">Ajouter les Questions Manuellement</label>
    <label class="block text-gray-700 text-sm font-bold mb-2">Numéro de Question</label>
    <input type="number" class="border-gray-300 rounded-md p-2 w-full mb-2" placeholder="Entrez le numéro de la question" [(ngModel)]="numQuestion">

    <label class="block text-gray-700 text-sm font-bold mb-2">Question</label>
    <textarea rows="2" class="border-gray-300 rounded-md p-2 w-full mb-2" placeholder="Entrez la question" [(ngModel)]="manualQuestion"></textarea>

    <label class="block text-gray-700 text-sm font-bold mb-2">Réponse</label>
    <textarea rows="2" class="border-gray-300 rounded-md p-2 w-full mb-2" placeholder="Entrez la réponse" [(ngModel)]="manualResponse"></textarea>

    <div class="mb-4">
      <label for="course" class="block text-gray-700 text-sm font-bold mb-2">Titre du cours</label>
      <select id="course" [(ngModel)]="selectedCourse" name="course" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let course of courses" [ngValue]="course">{{ course }}</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="chapter" class="block text-gray-700 text-sm font-bold mb-2">Titre du chapitre</label>
      <select id="chapter" [(ngModel)]="selectedChapter" name="chapter" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let chapter of chapters" [ngValue]="chapter">{{ chapter }}</option>
      </select>
    </div>

    <button (click)="addManualQuestion()" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Ajouter Question</button>
    <p class="text-red-500 mt-3" *ngIf="AddStatus">{{ AddStatus }}</p>
  </div>
</div>
