
<app-header></app-header>
<app-prof-menu></app-prof-menu>

<div class="flex justify-between items-center mt-8 mb-4 px-4 lg:px-8">
  <h1 class="text-3xl font-bold text-gray-700">Liste des Questions</h1>
  <div class="flex space-x-4">
    <button (click)="downloadQuestionsExcel()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">Télécharger Excel</button>
    <button (click)="deleteAllQuestions()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">Delete All Questions</button>
  </div>
</div>

<div class="flex flex-col mt-8 px-4 lg:px-8">
  <div class="py-2 -my-2 overflow-x-auto">
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">Num Question</th>
          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;">Question</th>
          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;">Response</th>
          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">image</th>

          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">Chapitre</th>
          <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase border-b border-gray-200 bg-gray-100" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">Cours</th>

          <th class="px-6 py-3 border-b border-gray-200 bg-gray-100" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <tr *ngFor="let question of questions">
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="flex items-center">
              <div class="text-sm leading-5 text-gray-600">{{ question.numQuestion }}</div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-normal border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-600" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;">
              {{ question.question }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-600" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;">
              {{ question.response }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-600" style="width: 200px; word-wrap: break-word; overflow-wrap: break-word;">
              <img [src]="'data:image/jpeg;base64,' +question.imageContent" alt="">
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-600" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">
              {{ question.chapter }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-600" style="width: 100px; word-wrap: break-word; overflow-wrap: break-word;">
              {{ question.course }}
            </div>
          </td>
          <td class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
            <button (click)="navigateToUpdateQuestion(question.course,question.chapter, question.numQuestion)" class="hover:text-blue-500 text-blue-400 font-bold py-2 px-4 rounded transition duration-300">Modifier la Question</button>

            <button (click)="deleteQuestion(question.course, question.chapter, question.numQuestion)" class="hover:text-blue-500 text-blue-400 font-bold py-2 px-4 rounded transition duration-300">supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
